html{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
 text-align: center;
}

div{
    align-items: center;
    background: #111;
    max-width: 400px;
    padding: 20px;
    margin: 0 auto 20px;
    border-radius: 4px;
}

strong{
    color: #febe01;
}

h2{
    color: white;
}

p{
    color: #b2b2b2;
}
button{
    border-radius: 4px;
    color: #332200;
    background: #febe01;
    padding: 10px;
}


